.test {
  display: block;
  z-index: 200;
  background:green;
  height: 20px;
  width: 60px;

}

.test2 {
  display: block;
  background:blue;
  height: 60px;
  width: 60px;
}

body {
  background:blue;
}
